<div class="flag-counter">
  <a href="https://info.flagcounter.com/LXlt"><img
      src="https://s01.flagcounter.com/count2/LXlt/bg_EEEEEE/txt_555555/border_EEEEEE/columns_3/maxflags_12/viewers_3/labels_0/pageviews_1/flags_0/percent_0/"
      alt="Flag Counter"
      border="0"/>
  </a>
</div>

{# <div style="margin-top: 15px;">
  <script async="async" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins
    class="adsbygoogle"
    style="display:block; text-align:center;"
    data-ad-layout="in-article"
    data-ad-format="fluid"
    data-ad-client="ca-pub-6487844781006261"
    data-ad-slot="3432081921"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div> #}