{%- if page.keywords %}
  <meta name="keywords" content="{{ page.keywords }},{{ config.keywords }}">
{% elseif config.keywords %}
  <meta name="keywords" content="{{ config.keywords }}">
{%- endif %}

<meta name="baidu_union_verify" content="68e4f384879dc561674a548accc6b847"/>
<meta name="yandex-verification" content="9788e2b0ed6f343a"/>
<meta name="360-site-verification" content="d273f6027f001901c40e07e6e117253a"/>
<meta name="sogou_site_verification" content="6ZDJxoUXu1"/>

<script>
  (function () {
    const redirect = () => {
      const hosts = ["hi-ruofei.netlify.app", "smpower.github.io", "master--hi-ruofei.netlify.app"];
      const {host, pathname} = window.location;
      hosts.forEach(hostItem => {
        if (hostItem === host) 
          window.location = `https://hi-ruofei.com${pathname}`;
        }
      );
    }
    redirect();
  })();
</script>
<script data-ad-client="ca-pub-6487844781006261" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script type="text/javascript">
  var _hmt = _hmt || [];
  (function () {
    var hostname = window.location.hostname;
    if (hostname === 'localhost') {
      return;
    }
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?401eeb63559fc8c7d4a5c7b991727ba5";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>
