<script>
  // 百度统计
  var _hmt = _hmt || [];
  (function () {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?05c0206e7c345b2718a634eac324f70d";
    var s = document.getElementsByTagName("script")[0];
    s
      .parentNode
      .insertBefore(hm, s);
  })();

  // 重定向
  (function () {
    const redirect = () => {
      const hosts = ["hi-ruofei.netlify.app", "smpower.github.io", "master--hi-ruofei.netlify.app"];
      const {host, pathname} = window.location;
      hosts.forEach(hostItem => {
        if (hostItem === host) 
          window.location = `https://hi-ruofei.com${pathname}`;
        }
      );
    }
    redirect();
  })();
</script>