{%- if page.keywords %}
  <meta name="keywords" content="{{ config.keywords }},{{ page.keywords }}">
{% elseif config.keywords %}
  <meta name="keywords" content="{{ config.keywords }}">
{%- endif %}

<meta name="baidu_union_verify" content="68e4f384879dc561674a548accc6b847"/>
<meta name="yandex-verification" content="9788e2b0ed6f343a"/>
<meta name="360-site-verification" content="d273f6027f001901c40e07e6e117253a"/>
<meta name="sogou_site_verification" content="HX2BbcbZtX"/>

<script>
  (function() {
    const urls = [
      { old: '/post/28752f8/', new: '/post/JavaScript-%E4%B8%AD%E7%9A%84-this/' },
      { old: '/post/c6ada25a/', new: '/post/JavaScript%20根据%20url%20转换图像（base64）/' },
      { old: '/post/7ee6a6c0/', new: '/post/MediaWiki-设置短链接（short-url）/' },
      { old: '/post/e490715a/', new: '/post/推荐一款自用的梯子/' },
      { old: '/post/e707884f/', new: '/post/使用-Docker-搭建-MediaWiki/' },
      { old: '/post/79e4fc1/', new: '/post/转载：罗翔老师谈人为什么害怕独处/' },
      { old: '/post/9a86a6f1/', new: '/post/TypeScript-Utility-Types-NonNullable-TypeScript-实用类型-NonNullable/' },
      { old: '/post/568ce723/', new: '/post/TypeScript-Utility-Types-Extract-TypeScript-实用类型-Extract/' },
      { old: '/post/37f6eaa/', new: '/post/TypeScript-Utility-Types-Omit-TypeScript-实用类型-Omit/' },
      { old: '/post/fca5d737/', new: '/post/TypeScript-Utility-Types-Exclude-TypeScript-实用类型-Exclude/' },
      { old: '/post/bdb49a56/', new: '/post/TypeScript-Utility-Types-Pick-TypeScript-实用类型-Pick/' },
      { old: '/post/fff5156a/', new: '/post/Docker-入门之安装教程/' },
      { old: '/post/ed3ec8e0/', new: '/post/TypeScript-Utility-Types-Readonly-TypeScript-实用类型-Readonly/' },
      { old: '/post/5a81d7c/', new: '/post/TypeScript-Utility-Types-Record-TypeScript-实用类型-Record/' },
      { old: '/post/64ba61b9/', new: '/post/TypeScript-Utility-Types-Required-TypeScript-实用类型-Required/' },
      { old: '/post/d31a997b/', new: '/post/TypeScript-Utility-Types-Partial-TypeScript-实用类型-Partial/' },
      { old: '/post/29e80bac/', new: '/post/Chrome-下载-PDF-文件：解决-Chrome-浏览器下载-PDF-而不是预览-PDF/' },
      { old: '/post/3b43b1e4/', new: '/post/Cloudflare-转发-GitHub-Gist/' },
      { old: '/post/a90b7ddb/', new: '/post/记一次博客优化/' },
      { old: '/post/952aa112/', new: '/post/在-Mac-上使用-gitolite-搭建-Git-服务器/' },
      { old: '/post/834f359e/', new: '/post/JavaScript-之检测数组/' },
      { old: '/post/56796ee0/', new: '/post/JavaScript-之-Array-中的迭代器方法/' },
      { old: '/post/c62eb287/', new: '/post/前端开发中使用-Mock-Service-Worker-模拟数据/' },
      { old: '/post/9499c45d/', new: '/post/React-Hook-之封装-useArray-自定义-hook/' },
      { old: '/post/4d20296b/', new: '/post/React-Hook-之封装-useMount-自定义-hook/' },
      { old: '/post/6409f2be/', new: '/post/Webpack-插件之-HtmlWebpackPlugin/' },
      { old: '/post/ad163972/', new: '/post/安装-Node-js/' },
      { old: '/post/d282b4bc/', new: '/post/理解-JavaScript-中的对象/' },
      { old: '/post/5f0515fe/', new: '/post/JavaScript-基础语法/' },
      { old: '/post/bb41300d/', new: '/post/JavaScript-实现-Base-64-编码解码/' },
      { old: '/post/e20d5a03/', new: '/post/typescript-中的联合类型和类型保护/' },
      { old: '/post/75208998/', new: '/post/Webpack-基本配置/' },
      { old: '/post/23472701/', new: '/post/用-Github-Actions-自动部署-Hexo-博客/' },
      { old: '/post/b874373c/', new: '/post/在-vscode-中离线安装扩展的方法/' },
      { old: '/post/a669b1a7/', new: '/post/反转字符串中的单词/' },
    ];
    const newUrl = urls.find(item => window.location.pathname === item.old).new;
    if (typeof newUrl === 'string') {
      window.location.href = newUrl;
    }
  })();
</script>

<script>
  (function () {
    const redirect = () => {
      const hosts = ["hi-ruofei.netlify.app", "smpower.github.io", "master--hi-ruofei.netlify.app"];
      const {host, pathname} = window.location;
      hosts.forEach(hostItem => {
        if (hostItem === host) 
          window.location = `https://hi-ruofei.com${pathname}`;
        }
      );
    }
    redirect();
  })();
</script>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6487844781006261" crossorigin="anonymous"></script>

<script type="text/javascript">
  var _hmt = _hmt || [];
  (function () {
    var hostname = window.location.hostname;
    if (hostname === 'localhost') {
      return;
    }
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?401eeb63559fc8c7d4a5c7b991727ba5";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>

<script>
  (function(){
    var src = "https://s.ssl.qhres2.com/ssl/ab77b6ea7f3fbf79.js";
    document.write('<script src="' + src + '" id="sozz"><\/script>');
  })();
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FN04QGV3M1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FN04QGV3M1');
</script>
